header{
    list-style-type: none;}
.header-all{
    padding-bottom: 24px;
    padding-top: 24px;
}
.header-all__header-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.nav{
    display: flex;
    // align-items: center;
    // justify-content: space-between;
    
}

.contact-list{
    display: flex;
    align-items: center;
    // justify-content: space-between;
}


.nav__list{
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    @include font ($fw: 500);
    letter-spacing: 0.02em
}



.nav__name{
    margin-right: 93px;
    font-family: 'Raleway', sans-serif;
    @include font ($fs: 26px, $lh: 31px);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;

&:hover, 
&:focus {
    color: #2196F3;
}

    }
.nav__studio{
    @include font ($fw: 500);

    letter-spacing: 0.02em;
    color: #2196F3;

&:hover, 
&:focus {
    color: #2196F3;
}
}




.nav__port-cont{

    @include font ($fw: 500);
    letter-spacing: 0.02em;
    color: #212121;
    transition: color var(--transition-duration-and-func);
    
    &:hover, 
    &:focus {
        color: #2196F3;
    }
}

.nav__cont{

    @include font ($fs: 14px, $fw: 700, $lh: 16px);
    letter-spacing: 0.02em;
    color: #212121;
    transition: color var(--transition-duration-and-func);
    
&:hover, 
&:focus {
    color: #2196F3;
}

}



.nav__item:not(:last-child){
    margin-right: 50px;
}

.contact-list__item:not(:last-child){
    margin-right: 50px;
}

.contact-list__link-tel{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    @include font ($fw: 500);
    letter-spacing: 0.02em;
    color: #757575;
    transition: color var(--transition-duration-and-func);
    &:hover, 
    &:focus {
        color: #2196F3;
    }
}


.contact-list__icon{
    fill: currentColor;
    margin-right: 10px;
}

.contact-list__link-mail{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    @include font ($fw: 500);
    letter-spacing: 0.02em;
    color: #757575;
    transition: color var(--transition-duration-and-func);

    &:hover, 
    &:focus {
        color: #2196F3;
    }
}


