.portfolio-element {

    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
}



.list-portfolio-all {
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    background: #2196F3;
    color: #ffffff;
    border-radius: 4px;
    padding: 6px 22px;
}

.portfolio-list-li {
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    background: #F5F4FA;
    border-radius: 4px;
    padding: 6px 22px;
    transition: color var(--transition-duration-and-func),
        background-color var(--transition-duration-and-func);
}

.portfolio-list-li:hover,
.portfolio-list-li:focus {
    background: #2196F3;
    color: #FFFFFF;
}





.portfolio-team-img-p {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay {
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    top: 0;
    overflow: auto;
    transform: translate(0, 100%);
    transition: transform var(--transition-duration-and-func);

    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: #FFFFFF;
    background-color: rgba(0, 75, 137, 0.9)
}

.portfolio-element-link:hover .portfolio-overlay,
.portfolio-element-link:focus .portfolio-overlay {
    transform: translate(0, 0);
}


.portfolio-element-text {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-top: none;
    padding-top: 20px;
    padding-bottom: 20px;
    ;
    padding-left: 24px;
    ;
    padding-right: 24px;
    ;
}


.portfolio-application {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.portfolio-application-plus {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 4px;
}

.hover-portfolio:hover,
.focus-portfolio:focus {
    color: #ffffff;
    background-color: #2196F3;
}




.section-porfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}



// 0-767pz
@media screen and (max-width: 767px) {
    .portfolio-list {
        font-size: 16px;
        line-height: 1.6;
        letter-spacing: 0.03em;
        color: #212121;
        display: flex;
        flex-wrap: wrap;
        column-gap: 8px;
        row-gap: 15px;
        justify-content: flex-start;
        margin-bottom: 50px;
    }




}

;


// 768-1199px
@media screen and (min-width: 768px) and (max-width: 1199px) {
    // .section-porfolio {
    //     background-color: tomato;
    // }
    
    .portfolio-list {
        font-size: 16px;
        line-height: 1.6;
        letter-spacing: 0.03em;
        color: #212121;
        display: flex;
        flex-wrap: wrap;
        column-gap: 8px;
        justify-content: center;
        margin-bottom: 50px;
    }

    
.portfolio-element-li{
    width: 334px;
    height: 440px;
}

    .portfolio-element {

        display: flex;
        flex-wrap: wrap;
        column-gap: 31px;
        row-gap: 31px;

    }

// .portfolio-element-text {
//     background: #FFFFFF;
//     border: 1px solid #EEEEEE;
//     border-top: none;
//     padding-top: 20px;
//     padding-bottom: 20px;
//     ;
//     padding-left: 24px;
//     ;
//     padding-right: 24px;
//     ;
// }


}


// 1200px --
@media screen and (min-width: 1200px) {
    .portfolio-list {
        font-size: 16px;
        line-height: 1.6;
        letter-spacing: 0.03em;
        color: #212121;
        display: flex;
        flex-wrap: wrap;
        column-gap: 8px;
        justify-content: center;
        margin-bottom: 50px;
    }
}